button{
  height: 40px;
  width: 60px;
  background-color: #d8d8d8;
  float: left;
  margin-left: 650px;
}
#wrapper{
  height: 800px;
  width: 850px;
  margin-left: 250px;
  margin-top: 40px;
  float: left;
  background-color: # d9dff9;
}
.square{
  box-sizing: border-box;
  display: inline-block;
  background-color: #d8d8d8;
  border: 1px solid white;
}


