#wrapper{
  height: 640px;
  width: 640px;
  border: 1px solid black;
  margin: auto;
}
.square{
  box-sizing: border-box;
  display: inline-block;
  background-color: #d8d8d8;
  border: 1px solid white;
}

button{
  height: 40px;
  width: 60px;
  background-color: #d8d8d8;
  float: left;
  margin-left: 600px;      
