#wrapper{
  height: 195px;
  width: 195px;
  margin-top: 100px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.square{
  height:10px;
  width:10px;
  margin: 1px;
  display: inline-block;
  background-color: #d8d8d8;
}    
